@import url(./__data/form__data.css);
@import url(./__block/form__block.css);
@import url(./__input/form__input.css);
@import url(./__submit/form__submit.css);
@import url(./__checkbox/form__checkbox.css);
@import url(./__paragraph/form__paragraph.css);
@import url(./__button/form__button.css);

.form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    flex-wrap: wrap;
}